nginx_conf
*.conf
.Rproj.user
.Rhistory
.RData
.Ruserdata
results
sampling-tool.Rproj
sample_draw
orpac_strata_20190405.zip
RGdNNM-big_game_migration_corridor_treatment-2015.zip
UMRBNM_2019_strata_20190206.zip
RGdNNM-big_game_migration_corridor_treatment-2015.shp.xml
RGdNNM-big_game_migration_corridor_treatment-2015.shx
RGdNNM-big_game_migration_corridor_treatment-2015.sbn
RGdNNM-big_game_migration_corridor_treatment-2015.dbf
RGdNNM-big_game_migration_corridor_treatment-2015.cpg
RGdNNM-big_game_migration_corridor_treatment-2015.sbx
RGdNNM-big_game_migration_corridor_treatment-2015.prj
RGdNNM-big_game_migration_corridor_treatment-2015.shp
